body {
   margin: 0;
   padding: 0;
}

.fullscreen-bg-video {
  position: fixed;    
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -200;
}

.logo-container {
  position: fixed;
  bottom: 40px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.logo {
  height: 200px;
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 15px;
  bottom: 0;  
  height: 40px;
  width: 100%;
  background: #EBEBEB;
}

footer * {
  margin-right: 25px;
}

a {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
}