@media all and (min-width: 1200px) {
  .crest {width: 20%;}
}

@media all and (max-width: 1199px) and (min-width: 992px) {
  .crest-m {width: 30%;}
}

@media all and (max-width: 991px) and (min-width: 0px) {
  .crest-s {width: 50%;}
}

h1 {
  font-size: 2.2em;
}

h1, h2 {
  font-weight: 900;
  text-align: center;
}

h1, h2, h3, p, li, .chapter-name, .footer-text {
  font-family: 'Cormorant Garamond', serif;
}

body {
  margin: 0px;
  background-color: #dedede;
}

.header {
  position: relative;
  height: auto;
  width: 100%;
  background: #243E90;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chapter-name {
  font-size: 2.2em;
  font-weight: 700;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

@media all and (max-width: 1199px) and (min-width: 992px) {
  .chapter-name { padding-left: 5%; }
  .logo-right { padding-right: 5%; }
}

@media all and (min-width: 1200px) {
  .chapter-name { padding-left: 10%; }
  .logo-right { padding-right: 10%; }
}

.chapter-name:hover {
  color: white;
  text-decoration: underline;
}

.item-container {
  border: 1px solid gray;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  margin: -16px -15px 15px -15px;
  padding: 15px;
  background-color: #243E90;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.footer {
  background: #243E90;
  height: 50px;
  position: relative;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0px -6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-text {
  color: white;
  width: 100%;
  text-align:center;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.masonry {
  column-count: 1;
  column-gap: 1em;
  padding: 15px 5% 15px 5%;
  column-fill: auto;
}

@media all and (max-width: 1199px) and (min-width: 992px) {
  .masonry {
    column-count: 2;
    padding: 15px 5% 15px 5%;
  }
}

@media all and (min-width: 1200px) {
  .masonry {
    column-count: 3;
    padding: 15px 10% 15px 10%;
  }
}

.item { /* Masonry bricks or child elements */
  margin: 0 0 1em;
  width: 100%;
  column-break-inside: avoid;
  break-inside: avoid;
}

h3 {
  margin: 0px;
  font-weight: 900;
  text-align: center;
}

ul {
  margin-top: 0px;
}

.container li {
  margin-left: -15px;
}

p {
  margin-top: 0px;
}

hr {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
